$primary-color: white;
$bg: rgb(0, 217, 255);
body {
  color: $primary-color;
  background-color: $bg;
  padding: 0;
  margin: 0;
}
canvas {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
